<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.getorganized">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        >
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="locale|orientation|layoutDirection"
            android:name=".ClosetActivity"
            android:label="@string/closet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale|orientation|layoutDirection"
            android:name=".CalendarActivity"
            android:label="@string/calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale"
            android:name=".ShopActivity"
            android:label="@string/shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale"
            android:name=".SubmenuActivity"
            android:parentActivityName=".MenuActivity"
            android:label="Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ItemActivity"
            android:configChanges="locale"/>
        <activity android:name=".ShopDisplayActivity"
            android:configChanges="locale"/>
        <activity
            android:configChanges="locale"
            android:name=".viewdate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale"
            android:name=".add_cloth_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale"
            android:name=".forum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="locale"
            android:name=".post"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>